{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      <a href="/">
        <img src="{% static 'images/icon.svg' %}" alt="icon" />

      </a>
      <h3>{% trans 'Enter Your Email for change new Password' %}</h3>
    </div>
    <form action="" method='POST' class="form auth__form" enctype="multipart/form-data"> 
      {% csrf_token %}
      
   

      <!-- Input:Email -->
      <div class="form__field">
        <label for="email">Email: </label>
        <input class="input input--text" id="email" type="email" name="email"
          placeholder="Enter your email..." />
      </div>

     

      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
      </div>
    </form>
 
</div>
{% endblock content %}