{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="auth">
  <div class="card">
    <div class="auth__header text-center">
      
      <h3>{% trans 'Account's Password' %}</h3>
    </div>
    <form action="" method='POST' class="form auth__form" enctype="multipart/form-data"> 
      {% csrf_token %}
      
   

      <!-- Input:Email -->
      <div class="form__field">
        <label for="password1">Password: </label>
        <input class="input input--text" id="password1" type="password" name="password1"
          placeholder="Enter your password1..." />
      </div>
      <div class="form__field">
        <label for="password2">Confirmation Password: </label>
        <input class="input input--text" id="password2" type="password" name="password2"
          placeholder="Confirm your Password..." />
      </div>
     

      <div class="auth__actions">
        <input class="btn btn--sub btn--lg" type="submit" value="Log In" />
      </div>
    </form>
 
</div>
{% endblock content %}